.header{
  padding: 0.2rem;
  color: #FFFFFF;
  background-color: #000000;
  text-align: end;
}
.container{
  min-height: 500px;
  width: 100%;
  padding: 0.2rem;
  margin-top: 1rem;
  background-color: #f7f7f7;
}
