/* You can add global styles to this file, and also import other style files */
.mr-5{
  margin-right: 5px !important;
}
.mr-15{
  margin-right: 15px !important;
}
.ml-5{
  margin-left: 5px !important;
}
.ml-15{
  margin-left: 15px !important;
}
.d-flex{
  display: flex;
  flex-direction: row;
}
.mt-5{
  margin-top: 5px !important;
}
